node_modules
package-lock.json
src/config/config.js
dist
.vscode/settings.json
.vs/VSWorkspaceState.json
.vs/ar-simple-viewer/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/ar-simple-viewer/FileContentIndex/*.vsidx
.vs/ar-simple-viewer/config/applicationhost.config
/.vs/slnx.sqlite-journal
video/*.mp4
/BackEnd/BackgroundSupportApi/bin/
/BackEnd/.vs
/BackEnd/BackgroundSupportApi/obj
/BackEnd/BackgroundSupportApi/appsettings.Development.json
/BackEnd/BackgroundSupportApi/Scripts/*/
.hintrc
video/*.webm
.vs/*
https/*